<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SimpleOne - Thời trang của mọi thời đại</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/flexslider.css" type="text/css" media="screen" rel="stylesheet" />
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/cloud-zoom.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- fav -->
     <link href="/TT_Admin/assets/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
</head>

<body>
    <!-- Header Start -->
    <header>
        <div class="headerstrip">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <a href="/" class="logo pull-left"><img src="/img/logo.png" alt="SimpleOne" title="SimpleOne"></a>
                        <!-- Top Nav Start -->
                        <div class="pull-left">
                            <div class="navbar" id="topnav">
                                <div class="navbar-inner">
                                    <ul class="nav">
                                        <li><a class="home active" href="/">Home</a><li>
                                        <li><a class="shoppingcart" href="/gio-hang.html">Shopping Cart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <style> 
                        form.search input[type=text] {
                            padding: 10px;
                            font-size: 17px;
                            border: 1px solid grey;
                            float: left;
                            width: 75%;
                            background: #f1f1f1;
                        }

                        form.search button {
                            float: right;
                            width: 17%;
                            padding: 10px;
                            background: #2196F3;
                            color: white;
                            font-size: 17px;
                            border: 1px solid grey;
                            border-left: none;
                            cursor: pointer;
                        }

                        form.search button:hover {
                            background: #0b7dda;
                        }

                        form.search::after {
                            content: "";
                            clear: both;
                            display: table;
                        }
                        </style>
                        <div class="pull-right" style="margin-top: 15px; margin-right: 20px; ">
                            <form class="search" action="/ket-qua-search.html" style="margin:auto;max-width:300px" method="POST">
                              <input type="text" placeholder="Search.." name="key" size="100">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Top Nav End -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="categorymenu">
                <nav class="subnav">
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="nav-pills categorymenu menu">
                    </ul>
                </nav>
            </div>
        </div>
    </header>